*{
  text-align: center;
}
h1{
  text-align: center;
}
.row{
  display: flex;
  margin-top: 5rem;
}
.row .card1, .row .card2{
  border:1px solid black;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
}
.row .card2{
  border:1px solid black;
  margin: 2rem;
  padding: 1rem;

  
}

.card-one{
  background-color: rgb(255, 0, 238);
  border:1px solid black;
}

.card-one-inactive{
  border:1px solid black;
  background-color: aliceblue;
}

.card-two-inactive{
    border:1px solid black;
  background-color: aliceblue;
}
.card-two{
  border:1px solid black;
  background-color: blue;
}

button{
 justify-content: center;
 align-items: center  ;
  text-align: center;
}